
body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 65px;
    height: 65px;
}
.text_desc{
    font-size: 12px;
    font-weight: normal;
    color:#999;
}
.profile{
    margin-top: 19px;
}
.deng-menu{
    font-size: 14px;
    color: #999;
}
.deng-bottom_div{
    margin-bottom: 14px;
}
.comment{
    margin: 10px 0;
}
.comments{
    margin-bottom: 15px;
    border-bottom: solid 1px #efdddd;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.menu{
    color: #999;
    margin-top:5px;
}
.menu .icon{
    margin-right: 10px;
    font-size: 15px;
    cursor:pointer;
}
.menu .icon:hover{
    color: #499ef3;
}
