
body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 65px;
    height: 65px;
}
.text_desc{
    font-size: 12px;
    font-weight: normal;
    color:#999;
}
.profile{
    margin-top: 19px;
}
.deng-menu{
    font-size: 14px;
    color: #999;
}
.deng-bottom_div{
    margin-bottom: 14px;
}
.avatar{
    width: 45px;
    height: 45px
}
.comment{
    margin: 10px 0;
}
.comments{
    margin-bottom: 15px;
    border-bottom: solid 1px #efdddd;
}
.comment-sub{
    margin-top: 15px;
    margin-bottom: 29px;
    border: solid 1px #fbe1e1;
    padding-top: 18px;
    border-radius: 20px;
}
.comment-sub .btn{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.menu{
    color: #333;
    margin-top:5px;
}
.menu .icon{
    margin-right: 10px;
    font-size: 15px;
    cursor:pointer;
}

.menu .comment-icon{
    font-size: 15px;
    cursor:pointer;
}
.menu .comment-icon:hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.question-title{
    margin-top:29px;
}
.question-tag{
    margin-right: 10px;
}

.question-related{
    line-height: 20px;
    font-size: 17px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.question-related li{
    margin-top:6px;
}
.label-info .glyphicon{
    margin-right: 5px;
}
.publish-tag_div{
    display: none;
}
.publish-lable{
    margin-right: 8px
}
.tag-button{
    margin-top: 7px;
}
.tab-div{
    margin-bottom: 10px;
}
.footer{
    padding :10px 25%;
    color: #666;
}